:root {
    --clr-primary: #8fd3fe;
    --clr-primary-hover: #45b6fe;
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
    background: #f0f7f8;
}

/*Navigation bar*/
.nav-list {
    background-color: white;
    box-shadow: 0px 0px 10px #cfd8dc;
    padding: 1rem 0;
    border-radius: 0.2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 2rem;
}

    .nav-item a {
        text-decoration: none;
        color: black;
        transition: all 200ms ease-in;
    }

        .nav-item a:hover {
            color: var(--clr-primary);
        }

    .nav-item:first-child {
        margin-right: auto;
        margin-left: 2rem;
    }

.btn-primary {
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    background: var(--clr-primary);
    border: none;
    outline: none;
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 200ms ease-in;
}

    .btn-primary:hover {
        background: var(--clr-primary-hover);
    }

/* Dropdown menu*/

ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    display: none;
    list-style: none;
    margin: 0;
    padding: 0 15px;
    border-radius: 0.2rem;
    z-index: 1000;
}

    ul li:hover > ul, ul li ul:hover {
        visibility: visible;
        opacity: 1;
        display: block;
        text-align: left;
        padding-top: 10px;
        box-shadow: 0px 3px 5px -1px #ccc;
        min-width: 150px;
    }

    ul li ul li {
        clear: both;
        width: 100%;
        text-align: left;
        margin-bottom: 20px;
        border-style: none;
    }

        ul li ul li a:hover {
            padding-left: 10px;
            border-left: 2px solid #3ca0e7;
            transition: all 0.3s ease;
        }

/*main*/

main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 80vh;
    background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(97,186,255,1) 0%, rgba(166,239,253,1) 90.1% );
    box-shadow: 0px 0px 10px #cfd8dc;
    padding: 1rem 0;
    border-radius: 0.2rem;
}

.container {
    position: relative;
}

    .container .card {
        position: relative;
        width: 320px;
        height: 450px;
        background: white;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }

        .container .card:before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #8fd3fe;
            clip-path: circle(150px at 80% 20%);
            transition: 0.2s ease-in-out;
        }

        .container .card:hover:before {
            clip-path: circle(300px at 80% -20%);
        }

        .container .card:after {
            position: absolute;
            top: 30%;
            left: -20%;
            font-size: 12em;
            font-weight: 800;
            color: rgba(255,255,25,0.05)
        }

        .container .card .imgBx {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            height: 220px;
            transition: 0.2s;
        }

        .container .card:hover .imgBx {
            top: 0%;
            transform: translateY(0%);
        }

        .container .card .imgBx img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(0deg);
            width: 150px;
        }

        .container .card .contentBx {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 100px;
            text-align: center;
            transition: 0.3s;
            z-index: 10;
        }

        .container .card:hover .contentBx {
            height: 210px;
        }

        .container .card .contentBx h2 {
            position: relative;
            font-weight: 600;
            letter-spacing: 1px;
            margin: 0;
        }

        .container .card .contentBx a {
            width: 200px;
            height: 50px;
            text-align: center;
            line-height: 26px;
            font-size: 14px;
            display: inline-block;
            color: #111;
            background: #fff;
            margin: 0 5px;
            transition: 0.5s;
            color: #111;
            border-radius: 4px;
            cursor: pointer;
        }

        .container .card .contentBx a {
            display: inline-block;
            padding: 10px 20px;
            background: #8fd3fe;
            border-radius: 4px;
            margin-top: 10px;
            text-decoration: none;
            font-weight: 600;
            color: black;
            opacity: 0;
            transform: translateY(50px);
            transition: 0.3s;
            margin-top: 40px;
        }

        .container .card:hover .contentBx a {
            opacity: 1;
            transform: translateY(0px);
            transition-delay: 0.3s;
        }
